.footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(104 180 237);
}
.address{
    width: 300px;
}

.ass{
    padding: 10px;
    font-size: 9px;
}

.conteiner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

.nav{
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-top: 10px;
    font-size: 10px;
}

.link{
    color: black;
    margin: 5px;
}