.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    background-color: rgb(104 180 237);
}

.logo{
    width: 75px;
    height: 75px;
    margin: 10px;
    border-radius: 80px;
}

.nav{
    margin: 10px;
}

.link{
    margin: 20px;
    color: black;
}